:root {
  --background-color: #000;
  --background-secund-color: #001e;
  --text-wait-color: #ffb900;
  --text-color: #fff;
  --input-background-color: #ffffff1a;
  --input-background-secund-color: #ffffff6f;
  --input-background-placeholder-color: #ffffff88;
  --input-background-secund-placeholder-color: #ffffff;
  --button-background-color: #ff1800;
}
